@model NS.OBS.Model.BookModel
@{
    ViewData["Title"] = "Create";
}
 @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { id = "formAddBook" }))
{
    @Html.ValidationSummary(false)

    <div class="form-group">
        <label for="BookName" class="col-md-3 control-label">BookName </label>
        <div class="col-md-9">
            @Html.TextBoxFor(x => x.BookName, "", new { @class = "form-control", placeholder = "BookName" })
            @Html.ValidationMessageFor(x => x.BookName, "Please enter Book Name", new { @class = "text-danger", style = "display:none" })
        </div>
    </div>
    
     <div class = "form-group">
                <b>
               @Html.LabelFor(
                  model => model.Category, htmlAttributes: new{
                     @class = "control-label col-md-2" })
				</b>
               <div class="editor-field">
     @Html.DropDownListFor(model=>model.Category, new List<SelectListItem>
                   {
                       new SelectListItem{Text="1.Comic", Value="1", Selected=true},
                       new SelectListItem{Text="2.Novel", Value="2", Selected=true},
                       new SelectListItem{Text="3.Sports", Value="3", Selected=true},
                   },"Select Category")
                   </div>
                   </div>

    <br />

    <div class="form-group">
        <label for="Author" class="col-md-3 control-label">Author </label>
        <div class="col-md-9">
            @Html.TextBoxFor(x => x.Author, "", new { @class = "form-control", placeholder = "Author" })
            @Html.ValidationMessageFor(x => x.Author, "Please enter Author Name", new { @class = "text-danger", style = "display:none" })
        </div>
    </div>

    <div class="form-group">
        <label for="Publisher" class="col-md-3 control-label">Publisher </label>
        <div class="col-md-9">
            @Html.TextBoxFor(x => x.Publisher, "", new { @class = "form-control", placeholder = "Author" })
            @Html.ValidationMessageFor(x => x.Publisher, "Please enter Publisher Name", new { @class = "text-danger", style = "display:none" })
        </div>
    </div>
    
    <div class="form-group">
        <label for="Description" class="col-md-3 control-label">Description </label>
        <div class="col-md-9">
            @Html.TextBoxFor(x => x.Description, "", new { @class = "form-control", placeholder = "Description" })
            @Html.ValidationMessageFor(x => x.Description, "Please write Description", new { @class = "text-danger", style = "display:none" })
        </div>
    </div>
	
	<div class="form-group">
       <label asp-for="BookPhoto"></label>
      <div class="custom-file">
          <input asp-for="BookPhoto" class="custom-file-input" id="customFile" />
          <label class="custom-file-label" for="customFile" >Choose File</label>
      </div>
       <span asp-validation-for="BookPhoto" class="text-danger"></span>
    </div

    
    <br>
    <div class="form-group">
        <span id="spnMessage" class="text-danger">@TempData["ErrorMessage"]</span>
        <span id="spnMessage" class="text-success">@TempData["SuccessMessage"]</span>
        <br />

          <!-- Button -->
        <div class="col-md-offset-3 col-md-9">
            <button id="btn-addBook" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Submit </button>
            <span style="margin-left:8px;"></span>
        </div>
    </div>
     <div>
         @Html.ActionLink("Previous", "ShowBooks")
      </div>
}
<script src="~/js/AddBook.js"></script>


