@model NS.OBS.Data.Entities.BookDetail
<html>
<body>
  <div class="container details">
    <div class="div-2">
      <div>
        <h5>BookId</h5>
        <p>@Model.BookId</p>
      </div>
      <div>
        <h5>BookName</h5>
        <p>@Model.BookName</p>
      </div>
      <div>
        <h5>Category</h5>
        <p>@Model.Category</p>
      </div>
      <div>
        <h5>Image</h5>
        <img src='@Model.ImgUrl'/>
      </div>
      <div>
        <h5>Author</h5>
        <p>@Model.Author</p>
      </div>
      <div>
        <h5>Publisher</h5>
        <p>@Model.Publisher</p>
      </div>
      <div>
        <h5>Description :</h5>
        <p>@Model.Description</p>
      </div>
    </div> 
  </div>
</body>
</html>
