@using NS.OBS.Data.Entities;
@model List<NS.OBS.Model.BookModel>


<h2>Book Details</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">BookID</th>
            <th scope="col">BookName</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
	
	<div class="carousel-item active">

      <img src="@BookDetail.ImgUrl" class="d-block w-100" alt="...">
    </div>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.BookId</td>
            <td>@item.BookName</td>
            <td>@item.Category</td>
            <td>@item.Author</td>
            <td>@item.Publisher</td>
            <td>@item.Description</td>
            <td>@Html.ActionLink("EditBook", "GetBookById", new { BookId = @item.BookId })</td>
            <td>@Html.ActionLink("DeleteBook", "Delete", new { BookId = @item.BookId })</td>
             <td>@Html.ActionLink("UpdateBook", "Update", new { BookId = @item.BookId })</td>
            
            
        </tr>

        }
    </tbody>
</table>