@using NS.OBS.Data.Entities;
@using NS.OBS.Model
@model List<NS.OBS.Model.BookModel>


<h2>Book Details</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">BookID</th>
            <th scope="col">BookName</th>
            <th scope="col">Category</th>
            <th scope="col">ImgUrl</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
	
	
        @foreach (var item in Model)
        {
        <tr>
            <div class="carousel-item active">

    <img src="@item.ImgUrl" class="d-block w-100" alt="...">
    </div>
            <td>@item.BookId</td>
            <td><a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">@item.BookName</a></td>
         
           <td>@item.Category</td>
           <td><img src='@item.ImgUrl'/></td> 
           <td>@item.Author</td>
            <td>@item.Publisher</td>
            <td>@item.Description</td>
            <td>@Html.ActionLink("DeleteBook", "Delete", new { BookId = @item.BookId })</td>
             <td>@Html.ActionLink("UpdateBook", "Update", new { BookId = @item.BookId })</td>
            
            
        </tr>

        }
    </tbody>
</table>